@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap");
$primaryFontFamily: "Google Sans Flex", sans-serif;
$lightFontColor: white;
$backgroundcolor: #8a9295;

@mixin desktop-view {
  @media (min-width: 600px) {
    @content;
  }
}

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: $primaryFontFamily;
  width: 100%;
  min-height: 100vh;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  &__container {
    background-color: $backgroundcolor;
    width: 100%;
    min-height: 100vh;

    @include desktop-view {
      border-radius: 8px;
      width: 400px;
      height: 900px;
      min-height: auto;
    }
  }
}
