$lightFontColor: white;
$backgroundcolor: #8a9295;

* {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  min-height: 100vh;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 400px;
    height: 900px;
    background-color: $backgroundcolor;
    border-radius: 8px;
  }
}
