@use "_main" as *;

.action-buttons {
  display: flex;
  justify-content: space-between;

  button {
    background-color: transparent;
    border: none;
    filter: drop-shadow(1px 1px 2px black);

    :hover {
      cursor: pointer;
    }
  }
  .button {
    color: $lightFontColor;
    width: 34px;
    height: 34px;
    padding: 1rem;
  }
}
.current-wether {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;

  &__temperature {
    margin-bottom: 1rem;
    font-size: 4rem;
  }
  span {
    text-shadow: 1px 1px 2px black;
    color: $lightFontColor;
  }
  .small {
    font-size: 1rem;
  }
}
